header{
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}
#principal{
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 1px 4px 100px rgba(240, 248, 255, 0.356);
    padding: 20px;
    border-radius: 3px;
}
span{
    display: block;
}
button{
    margin-top: 10px;
}
body{
    background-color: black;
}
