header{
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}
#principal{
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 1px 4px 15px rgba(250, 252, 253, 0.695);
    padding: 20px;
    border-radius: 3px;
}
span{
    display: block;
    padding-bottom: 2px;
}
button{
    margin-top: 10px;
}
body{
    background-color: black;
}
input{
    border-radius: 2px;
}
input:hover{
    border: 2px solid rgba(245, 30, 6, 0.982);
    border-radius: 3px;
}
